@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

.primary-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Circular Std Bold', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
  helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif !important; 

  &__title {
    & a {
      text-decoration: none;
      font-size: var(--size-700);
      font-weight: bolder;
      color: inherit;
    }
  }

  & nav {
    position: static;
    padding: 0;
    background: transparent;
    backdrop-filter: unset;
  }

  &__menu-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;

    li {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
      @media screen and (max-width: 1000px) {
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }
      & a {
        color: inherit;
        font-size: var(--size-400);
        text-decoration: none;
      }
      @media screen and (max-width: 1000px) {
        & a {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.site-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.site-index {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  @media screen and (max-width: 1000px){
    flex-direction: column !important;
  }

  &__content {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 55%; 
    margin: 0;

    @media screen and (max-width: 1000px){
      text-align: center;
      padding-right: 20px;
      width: 100%;
    }

    &--button {
      margin-top: 30px;
    }

    &--social-icons {
      margin-top: 40px;
      font-size: 35px;
      @media only screen and (max-width: 1000px){
        text-align: center;
      }
      & a {
        padding-right: 10px;
        color: var(--text-light);
        &:hover {
          color: var(--color-hover)
        }
        transition: color 0.2s linear;
      }
    }
  }

  &__image {
    padding-top: 10px;
    margin: 0;

    img {
      border-radius: 50% !important;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-about {
  text-align: center;

}

.card-list {
  list-style: none;
  margin-top: 50px;
  display: grid;
  grid-gap: var(--size-600);
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  padding: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0,.08);
  box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  transition: box-shadow 0.3s linear;


  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h2 {
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: var(--size-600);
    font-weight: 700;
    
  }

  p {
    margin-top: auto;
    font-size: var(--size-400);
  }
}





.button {
  text-decoration: none;
  background-color: var(--color-button);
  color: var(--background);
  padding: 15px;
  border-radius: 12px;

  &:hover {
    background-color: var(--color-hover);
  }
  transition: background-color 0.2s linear;
}

.icon {
  vertical-align: middle;
}

:root {
  scroll-behavior: smooth;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;

  //--color-main: #37292C;
  //--color-hover: #37292ca1;
  --color-main: #000000;
  --background: #fff;
  
  --background-dark: #082032;
  --background-light: #edf6f9;

  --text-dark: #e6e6e6;
  --text-light: #333;
  
  --color-button: #ff1e56;
  --color-hover: #ff1e56a1;
}

html {
  height: -webkit-fill-available;
}

img {
  border-radius: 12px;
}



body {
  font-family: 'Circular Std Book', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: var(--text-light);
  background-color: var(--background-light);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Circular Std Bold', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
  helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif !important; 
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  padding-top: var(--size-300);
  padding-bottom: var(--size-300);
}
