@font-face {
  font-family: "Circular Std Bold";
  src: url("../../fonts/Circular_Std_Bold.woff2");
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../../fonts/Circular_Std_Book.woff2");
}